.navgrad {
  background-image: linear-gradient(#85dbfc, #2694bf);
}
.jumbograd {
  background-image: linear-gradient(#d4f1fc, #fff);
}
.jumbograd2 {
  background-image: linear-gradient(#fff, #d4f1fc);
}
.navbar-collapse {
  justify-content: flex-end;
}

.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}
body {
  margin-top: 50px;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
