.navgrad {
  background-image: linear-gradient(#85dbfc, #2694bf);
}
.jumbograd {
  background-image: linear-gradient(#d4f1fc, #fff);
}
.jumbograd2 {
  background-image: linear-gradient(#fff, #d4f1fc);
}
.navbar-collapse {
  justify-content: flex-end;
}

.img-inline {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #DFD7CA;
  border-radius: 0.25rem;
  margin: 0.2rem;
  }
.fa-globe {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
    background-color: #85dbfc;
    color: #2694bf;
}
@mixin width {
    width: auto !important;
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}
#dtData {font-size: 0.75rem;}
body {
  margin-top: 50px;
}
@media (max-width: 576px) {
  .jumbotron {
    margin-top: 6rem;
  }
